.grid-form{
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: auto auto;  /*repeat (2,auto)*/
    gap:8px;
    justify-content: start;
}

input[type=number]{
    width: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: yellow;
}

input[type=checkbox]{
    margin: auto;
    pointer-events: none;
}

input[type=button]{
    width: 280px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

input[type=button]:hover{
    background-color: darkgray;
    border: 2px solid red;
}